.card-important {
    background-color: #e41452;
    color: white;
}

.card-normal {
    background-color: #f1e3e7;
    color: rgb(48, 0, 0);
    border-color: #52061d;
}

.card-important:hover {
    background-color: #8B0000;
    color: white;
}


body {
    background-color: rgb(255, 246, 249);
}

.card-crimson {
    background-color: white;
    border: 2px solid crimson;
    color: rgb(34, 2, 9);
    cursor: pointer;
    transition: 0.3s ease;
}

.card-crimson .card-title {
    color: rgb(92, 3, 21);
}

.card-crimson:hover {
    background-color: crimson;
    color: white;
    transform: translateY(-5px);
}

.card-crimson:hover .card-title {
    color: white;
}

.navigation{
    background: rgba(228,20,82,.75) !important;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border:1px solid rgba(255,255,255,.30);

    border-radius:20px;

    margin:20px;

    box-shadow:
        0 8px 30px rgba(82,6,29,.30),
        inset 0 1px 1px rgba(255,255,255,.25);
}


.navigation .navbar-brand{
    color:#fff !important;
    font-weight:bold;
}


.navigation .nav-link{
    color:rgba(255,255,255,.9) !important;

    border-radius:12px;

    padding:8px 15px !important;

    transition:.3s;
}


.navigation .nav-link:hover{

    color:#fff !important;

    background:rgba(139,0,0,.45);

    transform:translateY(-2px);

}


.navigation .dropdown-menu{

    background:rgba(228,20,82,.95);

    backdrop-filter:blur(18px);

    border-radius:15px;

    border:none;

    overflow:hidden;

}

.navigation .dropdown-item{

    color:white;

    transition:.3s;

}

.navigation .dropdown-item:hover{

    color:white;

    background:rgba(139,0,0,.45);

}


.navigation .navbar-toggler{

    border:1px solid rgba(255,255,255,.4);

}

.navigation .navbar-toggler:focus{

    box-shadow:none;

}